# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environment Variables
.env

# VSCode
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Virtual Environments
venv/
env/
.venv/

# Cache
*.cache
*.sqlite3

# Data
car_data.csv
